.importBody {
}

.csvReaderInput {
  border-style: none;
}

.inputErrorMsg{
  width: 40rem;
}

.dropZone {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.15rem dashed #adb5bd;
  border-radius: 1.0rem;
  background-color: #f8f9fa;
  padding: 60px 0;
  margin: 1.0rem 0;
  height: 50vh;
  transition: all 500ms ease; 
}
.dropZone:hover {
  border: 0.15rem solid #adb5bd;
  background: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 1px #adb5bd;
}

.dropZoneOk {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  border: 0.15rem dashed #adb5bd;  
  border-radius: 1.0rem;  
  background-color: #e7f5ff;
  padding: 10px 0;
  margin: 1.0rem 0;
  transition: all 500ms ease; 
}
.dropZoneOk:hover {
  border: 0.15rem solid #adb5bd;  
  background: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 1px #adb5bd;
}

.dropZoneError{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.15rem dashed #ffa8a8;  
  border-radius: 1.0rem;
  background-color: #ffc9c9;
  padding: 60px 0;
  margin: 1.0rem 0;
  transition: all 500ms ease; 
}
.dropZoneError:hover {
  border: 0.15rem solid #ffa8a8;  
  background: rgba(0,0,0,0);
	box-shadow: inset 0 0 0 1px #ffa8a8;
}


.dropZoneText {
  color: #adb5bd;
}

.dropZoneOkText{
  color: #adb5bd;
}

.dropZoneErrorText{
  color: #c92a2a;
}
