.rebalanceBody {
  display: flex;
  flex-direction: column;
}

.arithmeticSign {
  display: flex;
  margin: 0 10px;
}

.amountOverview {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 0 20px 0;
}

.currentAmountView {
  display: flex;
  justify-content: left;
  align-items: center;
}

.moneyText {
  display: flex;
  justify-content: left;
  align-items: center;
  margin: 0 0 0 5px;
}

.capitalInputView {
  display: flex;
  justify-content: left;
  align-items: center;
}

.capitalInput {
  width: 7rem;
  border-bottom-style: groove;
  margin: 0 0 0 5px;  
}

.totalAdjustedAmountView {
  display: flex;
  justify-content: left;
  align-items: center;
}

.leftoverView {
  display: flex;
  justify-content: left;
  align-items: center;
}

.adjustBarGroup {
  display: flex;
  flex-direction: column;
}

.inputErrorMsg{
  width: 40rem;
}