.returnsBody {
  display: flex;
  flex-direction: column;
}

.priceFetcher {  
  margin: 10px 0;  
}

.priceForm {
  margin: 10px 0;  
}

.returnBars {
  display: flex;
  flex-direction: column;
}

.returnFigure {
  display: flex;
  flex-direction: column;
  align-items: center;
}