.returnsBody {
  display: flex;
  flex-direction: column;
}

.priceFetcher {  
  margin: 10px 0;  
}

.priceForm {
  margin: 10px 0;  
}

.returnBars {
  display: flex;
  flex-direction: column;
}

.returnFigure{
  margin: 1rem;
}

.returnFigureTitle{
  margin: 1rem 0;
  font-size: 1.8rem;
}