.entireWindow {
  /* margin: 0px 0px;
    padding: 0px 0px; */
  display: flex;
}

.sideNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18rem;
  height: 100vh;
  background: #0b7285;
  padding: 10px 0 0 0;
}

.sideNavItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 12rem;
  margin: 15px 0;
}

.sideNavItemClicked {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 12rem;
  margin: 15px 0;
  border-bottom-style: groove;  
}

.sideNavIcon {
  margin: 0 8px 0 0;
}

.sideNavText {
  color: #e7e6ef;
}

.mainWindow {
  padding: 15px;
  width: 100vw;
  height: 100vh;
  background: #e7e6ef;
}
