/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

body {
  border-style: groove;

  /* min-height: 700px; */

  /* width: 1000px; */
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: auto;
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
  font-weight: 500;
}

/* 
h2 {
  margin: 0;
  font-size: 2.25rem;
  font-weight: bold;
  letter-spacing: -0.025em;
  color: #fff;
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}
*/
a {
  /* color: white; */
  opacity: 0.75;
  text-decoration: none;
}

a:hover {
  opacity: 1;
  text-decoration: none;
  cursor: pointer;
}
