.priceGetter {
  margin-bottom: 15px;
  display: flex;    

}

.priceForm {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.datePicker {
  width: 10rem;
  z-index: 99;
}

.symbolBox{
  display: flex;
  flex-wrap: wrap;
}

.formButton{

}

.symbolSlot{

}

.symbolText{

}

.symbolInput{

}